<div class="new-subscription">
<%= form_for @subscription do |sub_form| %>
  <div class="new-subscription-form-field">
    <%= sub_form.text_field :name, placeholder: "your name" %>
  </div>
  <div class="new-subscription-form-field">
    <div class="new-subscription-telephone-input">
      <p id="plus">+</p>
      <%= sub_form.text_field :phone_number_country_code, value: "01" %>
      <%= sub_form.telephone_field :phone_number, placeholder: "XXX-XXX-XXXX" %>
    </div>
  </div>
  <div class="new-subscription-form-field">
    <%= sub_form.submit "Let's do it!" %>
  </div>
<% end %>
</div>
