<!DOCTYPE html>
<html>
<head>
  <title>Positivity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Average" rel="stylesheet">
</head>
<body class="positivity-application">

<div class="unsubscribe">
<%= link_to "unsubscribe", controller: "subscriptions", action: "edit" %>
</div>

<div class="title-banner"></div>

<div class="application-content">
<%= yield %>
</div>

</body>
</html>
